<div>
    <oj-c-button id="savings" on-oj-action="[[savings]]" label="Create New Savings Accounts" chroming="callToAction"></oj-c-button>
    <oj-c-button id="current" on-oj-action="[[current]]" label="Create New Current Account" chroming="callToAction"></oj-c-button>
    <oj-c-button id="withdraw" on-oj-action="[[withdraw]]" label="Withdraw" chroming="callToAction"></oj-c-button>
    <oj-c-button id="deposit" on-oj-action="[[deposit]]" label="Deposit" chroming="callToAction"></oj-c-button>
</div>